[sshd]
telegram_chat_id = 12345678
telegram_bot_token = 1234567890:xxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

enabled = true
action = %(action_)s
         telegram[telegram_chat_id=%(telegram_chat_id)s, telegram_bot_token=%(telegram_bot_token)s]
